
<span th:fragment="actionView(baseUrl)">
    <a th:href="@{{baseUrl}(baseUrl=${baseUrl})}" class="btn btn-light btn-sm">
        <span title="Ver" class="fas fa-eye"></span>
    </a>
</span>

<span th:fragment="actionUpdate(baseUrl)">
    <a th:href="@{{baseUrl}(baseUrl=${baseUrl})}" class="btn btn-light btn-sm">
        <span title="Ver" class="fas fa-pencil-alt"></span>
    </a>
</span>

<span th:fragment="actionDelete(baseUrl)">
    <a th:href="@{{baseUrl}(baseUrl=${baseUrl})}" onclick="return confirm('Tem certeza de que deseja remover este item')" class="btn btn-light btn-sm">
        <span title="Ver" class="fas fa-minus-circle"></span>
    </a>
</span>

