
<span th:fragment="ActionModal()">

    <div class="col-md-12" style="margin:10px">

        <div class="modal" id="documentsUploadModal">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">

                    <div class="modal-header">
                        <h4 id="documentsModalTitle" class="modal-title">File upload</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <div class="modal-body">
                        <span th:fragment="modalBody()">

                        </span>
                        ola
                    </div>

                </div>
            </div>
        </div>

    </div>

</span>