<span th:fragment="formDomain(oDomain)">

   <form action="" th:object="${oDomain}" method="post">

        <div class="col">
            <div class="form-group">
                <label for="name">Tipo</label>
                <input type="text" th:field="*{domainType}" id="domainType" class="form-control"  th:disabled="${#domainType gt 1}" />
                <span class="error" th:if="${#fields.hasErrors('domainType')}" th:errors="*{domainType}"></span>
            </div>
        </div>

        <div class="col">
            <div class="form-group">
                <label for="name">Nome</label>
                <input type="text" th:field="*{name}" id="name" class="form-control" />
                <span class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
            </div>
        </div>

        <div class="col">
            <div class="form-group">
                <label for="name">Valor</label>
                <input type="text" th:field="*{value}" id="value" class="form-control" />
                <span class="error" th:if="${#fields.hasErrors('value')}" th:errors="*{value}"></span>
            </div>
        </div>

        <div class="col">
            <div class="form-group">
                 <button type="reset" class="btn btn-default">Cancelar</button>
                 <button type="submit" class="btn btn-success">Guardar</button>
            </div>
        </div>

    </form>

</span>
