<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layouts/layout}">
<head>
    <title>Dominios</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>

    <div class="col-xs-12 col-md-12" layout:fragment="content">

        <div clas="col" style="margin: 10px 0">
            <a th:href="@{|/domains|}" class="btn btn-default">
                Voltar
            </a>
        </div>

        <div class="panel panel-primary">
            <div class="panel-heading">Novo dominio</div>
                <div class="panel-body">
                    <div clas="col">
                        <span th:replace="/views/domain/_form:: formDomain(oDomain)"></span>
                    </div>
                </div>
            </div>



        <div clas="col" style="margin-top:20px">
            <div class="panel panel-primary">
                <div class="panel-heading">Outros dominios (do mesmo tipo) </div>
                <div class="panel-body">

                <span th:replace="/views/domain/_index_view:: indexView(${domains},${objPaging})"></span>

                </div>
            </div>
        </div>

     </div>


</body>
</html>
