<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layouts/layout}">
<head>
    <title>Dominio - <span th:text="${oDomain.name}"></span> </title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>

    <div class="col-xs-12 col-md-12" layout:fragment="content">

        <div style="margin: 10px 0">
            <a href="/admim/domains" class="btn btn-default">Voltar</a>
            <a href="/admim/create" class="btn btn-success">Novo dominio</a>
        </div>


        <div class="panel panel-primary">
            <div class="panel-heading">Dominio - <span th:text="${oDomain.name}"></span> </div>
            <div class="panel-body">

                <div class="row">
                    <div class="w-25"><strong>Tipo:</strong></div>
                    <div class="w-75"><span th:text="${oDomain.domainType}">#</span></div>
                </div>
                <div class="row">
                    <div class="w-25"><strong>Nome:</strong></div>
                    <div class="w-75"><span th:text="${oDomain.name}">#</span></div>
                </div>
                <div class="row">
                    <div class="w-25"><strong>Valor:</strong></div>
                    <div class="w-75"><span th:text="${oDomain.value}">#</span></div>
                </div>
                <div class="row">
                    <div class="w-25"><strong>Data criação:</strong></div>
                    <div class="w-75"><span th:text="${oDomain.dateCreated}">#</span></div>
                </div>
                <div class="row">
                    <div class="w-25"><strong>Ultima atualização:</strong></div>
                    <div class="w-75"><span th:text="${oDomain.dateUpdated}">#</span></div>
                </div>

            </div>
        </div>

        <div clas="col" style="margin-top:20px">
            <div class="panel panel-primary">
                <div class="panel-heading">Outros dominios (do mesmo tipo) </div>
                <div class="panel-body">

                <span th:replace="/views/domain/_index_view:: indexView(${domains},${objPaging})"></span>

                </div>
            </div>
        </div>

    </div>

</body>
</html>
