<span th:fragment="formProfile(objProfile)">

   <form action="" th:object="${objProfile}" method="post">

        <div class="col-xs-12 col-md-6">
            <div class="form-group">
                <label for="name">Nome</label>
                <input type="text" th:field="*{name}" id="name" class="form-control" />
                <span class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
            </div>
        </div>

        <div class="col-xs-12 col-md-12">
            <div class="form-group">
                 <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
        </div>

    </form>

</span>
