<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layouts/layout}">
<head>
    <title>Perfis de acesso</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>

    <div class="col-xs-12 col-md-12" layout:fragment="content">

        <div clas="">
            <a href="/admin/profiles/create" class="btn btn-success">
                Novo perfil
            </a>
        </div>

        <div clas="col" style="margin-top:20px">
			<div class="panel panel-primary">
			  <div class="panel-heading">Perfis/Roles</div>
				  <div class="panel-body">
					<!--será utilizado pelo user/view/{id} tambem para mostrar perfis do utilizador -->
					<span th:replace="/views/profile/_index_view:: indexView(${profiles},${objPaging})"></span>
				</div>
			</div>
        </div>

     </div>

</body>
</html>
