<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layouts/layout}">
<head>
    <title>Profiiles</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>

    <div class="col-xs-12 col-md-12" layout:fragment="content">

        <div clas="">
            <a href="/admin/profile/create" class="btn btn-info">
                New profile
            </a>
        </div>

        <div clas="col" style="margin-top:20px">
            <h3>Profiles</h3>
            <table class="table table-striped table-responsive">
                <tr>
                    <th>Nome</th>
                    <th>Data criação</th>
                    <th>Ultima atualização</th>
                    <th>Actions</th>
                </tr>

                <tr th:each="objProfile : ${profiles}">
                    <td th:text="${objProfile.name}">#</td>
                    <td th:text="${objProfile.dateCreated}">#</td>
                    <td th:text="${objProfile.datedUpdated}">#</td>
                    <td th:text="${objProfile.dateCreated != null} ? ${T(com.library.helpers.UtilsDate).getFormattedDate(objProfile.dateCreated)} : '' ">#</td>
                    <!--td th:text="${objProfile.datedUpdated != null} ? ${T(com.library.helpers.UtilsDate).getFormattedDate(objProfile.datedUpdated)} : '' ">#</td-->
                    <td>

                        <span th:replace="/fragments/ActionColumn:: actionView('/workflow/process/view/' + ${objProfile.id})"></span>

                        <span th:replace="/fragments/ActionColumn:: actionUpdate('/workflow/process/update/' + ${objProfile.id})"></span>

                        <span th:replace="/fragments/ActionColumn:: actionDelete('/workflow/process/delete/' + ${objProfile.id})"></span>
                    </td>
                </tr>
            </table>

        </div>


         </div>

    </div>

</body>
</html>
