<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layouts/layout}">
<head>

    <!-- Profile feature scripts -->
    <span layout:fragment="custumScripts">
        <!-- <script th:src="@{/js/ReclusoController.js}"></script> -->
    </span>

    Perfil: <title th:text="${objProfile.name}"> - Atualização</title>

</head>
<body>

<div class="col-xs-12 col-md-12" layout:fragment="content">

    <div clas="col" style="margin: 10px 0">
        <a th:href="@{|/admin/profiles|}" class="btn btn-default">Voltar</a>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading"><span th:text="${objProfile.name}"></span> - Atualização</div>
        <div class="panel-body">
            <div clas="col">
                <span th:replace="/views/profile/_form:: formProfile(objProfile)"></span>
            </div>
        </div>
    </div>

</div>

</body>
</html>
