<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layouts/layout}">
<head>
  <title>Profile</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>

    <div class="col-xs-12 col-md-12" layout:fragment="content">

      <div clas="col">
        <a th:href="@{|/admin/profiles|}" class="btn btn-default">Voltar</a>
        <a th:href="@{|/admin/profiles/update/${oProfile.id}|}" class="btn btn-success">Atualizar</a>
        <a th:href="@{|/admin/profiles/delete/${oProfile.id}|}" class="btn btn-danger" onclick="return confirm('Tem certeza de que deseja remover este item')">Remover</a>
      </div>

      <div clas="col" style="margin-top: 30px">

            <div class="panel panel-primary">
                  <div class="panel-heading">Perfil - <span th:text="${oProfile.name}"></span></div>
                  <div class="panel-body">

                    <table class="table table-striped table-bordered">
                        <tr>
                            <th>Nome</th>
                            <td th:text="${oProfile.name}">#</td>
                        </tr>
                        <tr>
                            <th>Data de criação</th>
                            <td th:text="${oProfile.dateCreated}">#</td>
                        </tr>
                        <tr>
                            <th>Ultima atualização</th>
                            <td th:text="${oProfile.dateCreated}">#</td>
                        </tr>
                    </table>

                  </div>
            </div>

      </div>

    </div>

</body>
</html>
