<span th:fragment="formAla(objAla)">

   <form action="#" th:object="${objAla}" method="post">

        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="form-group">
                    <label for="name">Nome</label>
                    <input type="text" th:field="*{nome}" id="name" class="form-control" required/>
                    <span class="error" th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-6">
            <div class="form-group">
                <label for="setor">Localização</label>
                <div class="form-group">
                   <select th:field="*{setor}" id="setor" class="form-control">
                        <option value="">-- Selecionar setor --</option>
                        <option th:each="objSetor : ${setorList}" th:value="${objSetor.id}" th:text="${objSetor.nome}">
                    </select>
                </div>
            </div>
        </div>


        <div class="form-group">
             <button type="submit" class="btn btn-primary">Guardar</button>
        </div>

    </form>

</span>