<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layouts/layout}">
<head>
    <title>Worflow process</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>

    <div class="col-xs-12 col-md-12" layout:fragment="content">

        <div clas="col">
            <a href="/workflow/process" class="btn btn-outline-primary">
                Voltar
            </a>
        </div>

        <div clas="col">
            <h4>Workflow process</h4>
            <div class="container">
                <div class="row">
                    <div class="w-25"><strong>Process Code:</strong></div>
                    <div class="w-75"><span th:text="${modelProcess.processCode}">Não definido</span></div>
                </div>
                <div class="row">
                    <div class="w-25"><strong>Process Name:</strong></div>
                    <div class="w-75"><span th:text="${modelProcess.name}">Não definido</span></div>
                </div>
                <div class="row">
                    <div class="w-25"><strong>Description:</strong></div>
                    <div class="w-75"><span th:text="${modelProcess.description}">Não definido</span></div>
                </div>
            </div>
        </div>


        <hr />

        <h5>Workflow Activities </h5>


        <div clas="">
            <a th:href="@{|/workflow/activities/create/${modelProcess.id}|}" class="btn btn-info">
                New activity
            </a>
        </div>

            <!-- list of process activities -->
           <span th:replace="/views/workflow/activities/_index_view:: IndexView(${modelProcess.getActivitiesSet()})"></span>

        </div>

    </div>

</body>
</html>
