<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layouts/layout}">
<head>
    <title>Processos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>

<div class="col-xs-12 col-md-12" layout:fragment="content">

    <div clas="col" style="margin-top:20px">
        <div class="panel panel-primary">
            <div class="panel-heading">Processos</div>
            <div class="panel-body">
                [Sem implementação sdfgjh]
            </div>
        </div>
    </div>

</div>

</body>
</html>
