<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layouts/layout}">

	<div layout:fragment="content">


        <!-- USER TAKS -->
        <div>
            <h4><strong>Tarefas</strong></h4>
            <!--span th:text="${userTasks == null}">[Sem tarefas]</span-->
            <span th:replace="/views/task/task_view:: TaskView(${userTasks})"></span>
        </div>

		<div class="row">

		<div class="col-md-3 col-sm-6 col-xs-12">
		  <div class="info-box">
			<span class="info-box-icon __bg-blue_"><i class="glyphicon glyphicon-copy"></i></span>

			<div class="info-box-content">
			  <span class="info-box-text">Processos</span>
			  <span class="info-box-number">41,410</span>
			</div>
			<!-- /.info-box-content -->
		  </div>
		  <!-- /.info-box -->
		</div>
		<!-- /.col -->

		<!-- fix for small devices only -->
		<div class="clearfix visible-sm-block"></div>

		<div class="col-md-3 col-sm-6 col-xs-12">
		  <div class="info-box">
			<span class="info-box-icon __bg-green__"><i class="glyphicon glyphicon-user"></i></span>

			<div class="info-box-content">
			  <span class="info-box-text">Reclusos</span>
			  <span class="info-box-number">760</span>
			</div>
			<!-- /.info-box-content -->
		  </div>
		  <!-- /.info-box -->
		</div>
		<!-- /.col -->

		<div class="col-md-3 col-sm-6 col-xs-12">
		  <div class="info-box">
			<span class="info-box-icon __bg-yellow__"><i class="ion ion-ios-people-outline"></i></span>

			<div class="info-box-content">
			  <span class="info-box-text">Novos utilizadores</span>
			  <span class="info-box-number">102</span>
			</div>
			<!-- /.info-box-content -->
		  </div>
		  <!-- /.info-box -->
		</div>
		<!-- /.col -->

		<div class="col-md-3 col-sm-6 col-xs-12">
		  <div class="info-box">
			<span class="info-box-icon __bg-aqua__"><i class="ion ion-ios-gear-outline"></i></span>

			<div class="info-box-content">
			  <span class="info-box-text"> Acessos ao sistema</span>
			  <span class="info-box-number">90<small>%</small></span>
			</div>
			<!-- /.info-box-content -->
		  </div>
		  <!-- /.info-box -->
		</div>
		<!-- /.col -->

		</div>




		<div class="row">

			<div class="col-md-12">
			  <div class="box">
				<div class="box-header with-border">
				  <h3 class="box-title">Relatório mensal - Entrada de reclusos</h3>

				  <div class="box-tools pull-right">
					<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
					</button>
					<div class="btn-group">
					  <button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown">
						<i class="fa fa-wrench"></i></button>
					  <ul class="dropdown-menu" role="menu">
						<li><a href="#">Action</a></li>
						<li><a href="#">Another action</a></li>
						<li><a href="#">Something else here</a></li>
						<li class="divider"></li>
						<li><a href="#">Separated link</a></li>
					  </ul>
					</div>
					<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
				  </div>
				</div>
				<!-- /.box-header -->
				<div class="box-body">
				  <div class="row">
					<div class="col-md-8">
					  <p class="text-center">
						<strong>1 Janeiro de 2019 - 30 Maio de 2019</strong>
					  </p>

					  <div class="chart">
						<!-- Sales Chart Canvas -->
						<canvas id="salesChart" style="height: 180px;"></canvas>
					  </div>
					  <!-- /.chart-responsive -->
					</div>
					<!-- /.col -->
					<div class="col-md-4">
					  <p class="text-center">
						<strong>Reclusos por faixa etária</strong>
					  </p>

					  <div class="progress-group">
						<span class="progress-text">Adolescentes</span>
						<span class="progress-number">18 a 25</span>

						<div class="progress sm">
						  <div class="progress-bar progress-bar-aqua" style="width: 80%"></div>
						</div>
					  </div>
					  <!-- /.progress-group -->
					  <div class="progress-group">
						<span class="progress-text">Jovens</span>
						<span class="progress-number">26 a 35</span>

						<div class="progress sm">
						  <div class="progress-bar progress-bar-red" style="width: 80%"></div>
						</div>
					  </div>
					  <!-- /.progress-group -->
					  <div class="progress-group">
						<span class="progress-text">Adultos</span>
						<span class="progress-number"> 36 a 59 </span>

						<div class="progress sm">
						  <div class="progress-bar progress-bar-green" style="width: 80%"></div>
						</div>
					  </div>
					  <!-- /.progress-group -->
					  <div class="progress-group">
						<span class="progress-text">Terceira idade</span>
						<span class="progress-number"> > 60</span>

						<div class="progress sm">
						  <div class="progress-bar progress-bar-yellow" style="width: 80%"></div>
						</div>
					  </div>
					  <!-- /.progress-group -->
					</div>
					<!-- /.col -->
				  </div>
				  <!-- /.row -->
				</div>
				
			  </div>
			  <!-- /.box -->
			</div>

			<!-- Left col -->
			<div class="col-md-6">
				
			  <!-- /.box -->
			  <div class="row">

				<div class="col-md-12">
				  <!-- USERS LIST -->
				  <div class="box box-danger">
					<div class="box-header with-border">
					  <h3 class="box-title">Uitizadores do sistema</h3>

					  <div class="box-tools pull-right">
						<span class="label label-danger">8 Novos utilizadores</span>
						<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
						</button>
						<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i>
						</button>
					  </div>
					</div>
					<!-- /.box-header -->
					<div class="box-body no-padding">
					  <ul class="users-list clearfix">
						<li>
						  <img src="dist/img/avatar.png" alt="User Image">
						  <a class="users-list-name" href="#">Alexandro</a>
						  <span class="users-list-date">Today</span>
						</li>
						<li>
						  <img src="dist/img/avatar2.png" alt="User Image">
						  <a class="users-list-name" href="#">Daniel</a>
						  <span class="users-list-date">Yesterday</span>
						</li>
						<li>
						  <img src="dist/img/avatar3.png" alt="User Image">
						  <a class="users-list-name" href="#">Ana</a>
						  <span class="users-list-date">12 Jan</span>
						</li>
						<li>
						  <img src="dist/img/avatar04.png" alt="User Image">
						  <a class="users-list-name" href="#">João</a>
						  <span class="users-list-date">12 Jan</span>
						</li>
					  </ul>
					  <!-- /.users-list -->
					</div>
					<!-- /.box-body -->
					<div class="box-footer text-center">
					  <a href="javascript:void(0)" class="uppercase">Ver todos utilizadores</a>
					</div>
					<!-- /.box-footer -->
				  </div>
				  <!--/.box -->
				</div>
				<!-- /.col -->
			  </div>
			  <!-- /.row -->
			</div>

			<div class="col-md-6">
			  <!-- TABLE: LATEST ORDERS -->
			  <div class="box box-info">
				<div class="box-header with-border">
				  <h3 class="box-title">Reclusos com data de soltura próxima</h3>

				  <div class="box-tools pull-right">
					<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
					</button>
					<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
				  </div>
				</div>
				<!-- /.box-header -->
				<div class="box-body">
				  <div class="table-responsive">
					<table class="table no-margin">
					  <thead>
					  <tr>
						<th>ID</th>
						<th>Nome</th>
						<th>Sexo</th>
						<th>Estado do processo</th>
						<th>Data de entrada</th>
					  </tr>
					  </thead>
					  <tbody>
					  <tr>
						<td><a href="/reclusos/view/092cf611-56f9-49a2-8d26-84335e60b07b">7427</a></td>
						<td>Bela Maria</td>
						<td>Femenino</td>
						<td><span class="label label-success">Concluído</span></td>
						<td>
						  <div class="sparkbar" data-color="#00a65a" data-height="20">01/06/2019</div>
						</td>
					  </tr>
					  <tr>
						<td><a href="/reclusos/view/092cf611-56f9-49a2-8d26-84335e60b07b">7426</a></td>
						<td>Daniela Lopes</td>
						<td>Femenino</td>
						<td><span class="label label-warning">Pendente de revisão</span></td>
						<td>
						  <div class="sparkbar" data-color="#f39c12" data-height="20">01/06/2019</div>
						</td>
					  </tr>
					  <tr>
						<td><a href="/reclusos/view/092cf611-56f9-49a2-8d26-84335e60b07b">7425</a></td>
						<td>Pedro Gomes</td>
						<td>Masculino</td>
						<td><span class="label label-danger">Não Concluído</span></td>
						<td>
						  <div class="sparkbar" data-color="#f56954" data-height="20">01/06/2019</div>
						</td>
					  </tr>
					  <tr>
						<td><a href="/reclusos/view/092cf611-56f9-49a2-8d26-84335e60b07b">7424</a></td>
						<td>Beto Lopes</td>
						<td>Masculino</td>
						<td><span class="label label-info">Em andamento</span></td>
						<td>
						  <div class="sparkbar" data-color="#00c0ef" data-height="20">01/06/2019</div>
						</td>
					  </tr>
					  </tbody>
					</table>
				  </div>
				  <!-- /.table-responsive -->
				</div>
				<!-- /.box-body -->
				<div class="box-footer clearfix">
				  <a href="/reclusos/create" class="btn btn-sm btn-info btn-flat pull-left">Novo recluso</a>
				  <a href="/reclusos" class="btn btn-sm btn-default btn-flat pull-right">Ver reclusos</a>
				</div>
				<!-- /.box-footer -->
			  </div>
			  <!-- /.box -->
			<!-- /.col -->
			</div>

		</div>



		<br />

		<div>Indentity: <span th:text="${appKey}"></span></div>

		<br />
		<br />

	</div>
	
</html>
