<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

<div class="container">
    <h3>Login SIGP</h3>
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="popUpsigp">Abrir Login de SIGP</button>
</div>
    <div class="modal fade" id="popUpsigp">
        <div class="modal-dialog">
            <div class="modal-content">

                <!--header -->
                <div class="modal-header">
                    <button type="button" class="close" dat-dismiss="modal">&times;</button>
                    <h2 class="modal-title">Login</h2>
                </div>
                <!--body (form) -->
                <div class="modal-body">
                    <form role="form">
                        <div class="form-group">
                            <input type="email" class="form-control" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Password">
                        </div>
                    </form>
                </div>
                <!--button -->
                <div class="modal-footer">
                    <button class="btn btn-primary btn-block">Login</button>
                </div>

            </div>
        </div>
    </div>

</body>
</html>