<span th:fragment="formRecluso(objRecluso)">

   <form action="#" th:object="${objRecluso}" method="post">

        <div class="form-group">
            <label for="name">Nome</label>
            <input type="text" th:field="*{nome}" id="name" class="form-control" />
            <span class="error" th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>
        </div>

        <div class="form-group">
            <label for="name">Nº Recluso</label>
            <input type="text" th:field="*{numRecluso}" id="numRecluso" class="form-control" />
            <span class="error" th:if="${#fields.hasErrors('numRecluso')}" th:errors="*{numRecluso}"></span>
        </div>

        <div class="form-group">
            <label for="sexo">Sexo</label>
            <div class="form-group">
               <select th:field="*{sexo}" id="sexo" class="form-control">
                    <option value="">-- Selecionar Sexo --</option>
                    <option th:each="domain : ${T(com.app.service.StorageService).getDomains('DOMAIN_SEXO')}" th:value="${domain.id}" th:text="${domain.name}">
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="estadoCivil">Estado civil</label>
            <div class="form-group">
               <select th:field="*{estadoCivil}" id="estadoCivil" class="form-control">
                    <option value="">-- Selecionar estado civil --</option>
                    <option th:each="domain : ${T(com.app.service.StorageService).getDomains('DOMAIN_ESTADO_CIVIL')}" th:value="${domain.id}" th:text="${domain.name}">
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="nacionalidade">Nacionalidade</label>
            <div class="form-group">
               <select th:field="*{nacionalidade}" id="nacionalidade" class="form-control">
                    <option value="">-- Selecionar nacionalidade --</option>
                    <option th:each="pais : ${paisList}" th:value="${pais.id}" th:text="${pais.nome}">
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="name">Data Nascimento</label>
            <input type="text" th:field="*{dataNascimento}" id="dataNascimento" class="form-control" />
            <span class="error" th:if="${#fields.hasErrors('dataNascimento')}" th:errors="*{dataNascimento}"></span>
        </div>

        <div class="form-group">
             <button type="submit" class="btn btn-primary">Guardar</button>
        </div>

    </form>

</span>
