<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layouts/layout}">
<head>
    <title>Reclusos</title>
</head>
<body>


<div class="col-xs-12 col-md-12" layout:fragment="content">

    <div clas="">
        <a href="/reclusos/create" class="btn btn-success">Novo recluso</a>
    </div>

    <div clas="col" style="margin-top:20px">

        <div class="panel panel-primary">
            <div class="panel-heading">Reclusos</div>
            <div class="panel-body">

                <div class="col">
                    Total: <span th:text="${objPaging.totalElements}"></span>
                    <!--img src="search3.png" alt="Buscar..."/-->
                    <input type="text" id="txtPesquisar" placeholder="Pesquisar recluso..."/>
                    <button id="btnPesquisar">Pesquisar</button>
                </div>
                <table class="table table-striped table-bordered">
                    <tr>
                        <th>Nome</th>
                        <th>Sexo</th>
                        <th>Estado civil</th>
                        <th>Data criação</th>
                        <th>Ultima atualização</th>
                        <th>Ações</th>
                    </tr>
                    <tr th:each="oRecluso : ${reclusos}">
                        <td th:text="${oRecluso.nome}">#</td>
                        <td th:text="${oRecluso.sexo}">#</td>
                        <td th:text="${oRecluso.estadoCivil.name}">#</td>
                        <td th:text="${oRecluso.dateCreated}">#</td>
                        <td th:text="${oRecluso.dateUpdated}">#</td>
                        <td>
                            <span th:replace="/fragments/ActionColumn:: actionView('/reclusos/view/' + ${oRecluso.id})"></span>
                            <span th:replace="/fragments/ActionColumn:: actionUpdate('/reclusos/update/' + ${oRecluso.id})"></span>
                            <!--span th:replace="/fragments/ActionColumn:: actionDelete('/reclusos/delete/' + ${oRecluso.id})"></span-->
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <span th:replace="/fragments/pagingResult:: actionPaging(${objPaging}, '/reclusos')"></span>

    </div>

</div>



</body>

</html>
