<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layouts/layout}">
<head>
    <title><span th:text="${objRecluso.nome}"></span> - Transferências</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

    <div class="col-xs-12 col-md-12" layout:fragment="content">

        <div clas="col" style="margin: 10px 0">
            <a th:href="@{|/reclusos|}" class="btn btn-default">Voltar</a>
        </div>


        <div class="panel panel-primary">
            <div class="panel-heading"><span th:text="${objRecluso.nome}"></span> - Transferências</div>
            <div class="panel-body">
                <table class="table table-striped">
                    <tr>
                        <th>Nome Cadeias</th><th>Localização</th><th>Motivo </th> <th>Data</th> <th>Meios/Recursos utilizados</th><th>Custo total</th>
                    </tr>
                    <tr>
                        <!--<td th:text="${objRecluso.nome}">#</td>
                        <td th:text="${objRecluso.nome}">#</td>
                        <td th:text="${objRecluso.sexo}">#</td>
                        <td th:text="${objRecluso.nome}">#</td>
                        <td th:text="${objRecluso.dateCreated}">#</td>
                        <td th:text="${objRecluso.dateCreated}">#</td>-->
                        <td >Fogo -> São Martinho</td>
                        <td >Fogo para Praia</td>
                        <td >Preso perigoso com uma tentativa de fuga</td>
                        <td >15/10/2009</td>
                        <td >2 Carçareiros, Passagem aerea, veiculo terrestre, Hotel</td>
                        <td >45.600$00 ECV</td>
                        <td>
                            <span th:replace="/fragments/ActionColumn:: actionView('/reclusos/view/' + ${objRecluso.id})"></span>
                            <span th:replace="/fragments/ActionColumn:: actionUpdate('/reclusos/update/' + ${objRecluso.id})"></span>
                            <span th:replace="/fragments/ActionColumn:: actionDelete('/reclusos/delete/' + ${objRecluso.id})"></span>
                        </td>
                    </tr>
                    <tr>
                        <td >São Martinho -> Ribeirinha </td>
                        <td >Praia -> São Vicente</td>
                        <td >Realizou Motin e tem ameaça de morte.</td>
                        <td >15/10/2014</td>
                        <td >2 Carçareiros, Passagem aerea, veiculo terrestre, Hotel</td>
                        <td >73.600$00 ECV</td>
                        <td>
                            <span th:replace="/fragments/ActionColumn:: actionView('/reclusos/view/' + ${objRecluso.id})"></span>
                            <span th:replace="/fragments/ActionColumn:: actionUpdate('/reclusos/update/' + ${objRecluso.id})"></span>
                            <span th:replace="/fragments/ActionColumn:: actionDelete('/reclusos/delete/' + ${objRecluso.id})"></span>
                        </td>
                    </tr>
                    <tr>
                        <td ></td>
                        <td ></td>
                        <td ></td>
                        <td ></td>
                        <td ></td>
                        <td >119.200$00 ECV</td>
                        <td>
                        </td>
                    </tr>
                </table>

                <div clas="col">
                    <a class="btn" th:href="@{|/reclusos/transfer/${objRecluso.id}|}">
                        <i class="fas fa-bus-alt fa-2x"></i> Transferir Recluso</a>
                    <a class="btn" th:href="@{|/reclusos/transfer/${objRecluso.id}|}">
                        <i class="fas fa-print fa-2x"></i> Imprimir</a>
                </div>
            </div>
        </div>
    </div>


</html>
