<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layouts/layout}">
<head>
  <title>Recluso - <span th:text="${oRecluso.nome}"></span></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>

    <div class="col-xs-12 col-md-12" layout:fragment="content">

        <!-- TO BE USED TO GET PROFILES -->
        <input type="hidden" th:value="${oRecluso.id}" id="action_user_id" class="form-control" />

        <span th:replace="/views/recluso/upload_image_modal:: ActionModal(${oRecluso})"></span>

        <div clas="col">
            <a th:href="@{|/reclusos|}" class="btn btn-default">Voltar</a>
            <a th:href="@{|/reclusos/update/${oRecluso.id}|}" class="btn btn-success">Atualizar</a>
            <a th:href="@{|/reclusos/delete/${oRecluso.id}|}" class="btn btn-danger" onclick="return confirm('Tem certeza de que deseja remover este Recluso')">Remover</a>
        </div>

        <div class="col" style="margin-top: 35px">
            <div class="panel panel-primary">
                  <div class="panel-heading">Recluso - <span th:text="${oRecluso.nome}"></span></div>
                  <div class="panel-body">

                    <div clas="col">
                        <span th:if="${oRecluso.profileImage != null}">
                            <img th:src="@{/api/storage/images-details?id={id}(id=${oRecluso.profileImage.storageId})}" style="width:128px;height: 128px;"/>
                        </span>
                        <span th:unless="${oRecluso.profileImage != null}">
                            <div style="width:128px;height: 128px;background-color: #ccc">Foto</div>
                        </span>
                        <button th:data-user_image_id="${oRecluso.id}" class="btn btn-default" onclick="modelRecluso.openReclusoImagesModal(this.getAttribute('data-user_image_id'))" style="position: absolute;left: 101px;top: 133px;">
                            <i class="fas fa-pencil-alt" alt="Alterar a foto do perfil do recluso"></i>
                        </button>
                    </div>
					

                    <table class="table table-striped table-bordered">
                        <tr>
                            <th>Nome</th>
                            <td th:text="${oRecluso.nome}">#</td>
                        </tr>
                        <tr>
                            <th>Sexo</th>
                            <td th:text="${oRecluso.sexo}">#</td>
                        </tr>
                        <tr>
                            <th>Nacionalidade</th>
                            <td th:text="${oRecluso.nome}">#</td>
                        </tr>
                        <tr>
                            <th>Data de criação</th>
                            <td th:text="${#dates.format(oRecluso.dateCreated, 'dd/MM/yyyy')}">#</td>
                        </tr>
                        <tr>
                            <th>Ultima atualização</th>
                            <td th:text="${#dates.format(oRecluso.dateUpdated, 'dd/MM/yyyy')}">#</td>
                        </tr>
                    </table>

                  </div>
            </div>
        </div>

    </div>

</body>
</html>
