<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layouts/layout}">
<head>
  <title>Recluso - <span th:text="${oRecluso.nome}"></span></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>

    <div class="col-xs-12 col-md-12" layout:fragment="content">

        <div clas="col">
            <a th:href="@{|/reclusos|}" class="btn btn-default">Voltar</a>
            <a th:href="@{|/reclusos/update/${oRecluso.id}|}" class="btn btn-success">Atualizar</a>
            <a th:href="@{|/reclusos/delete/${oRecluso.id}|}" class="btn btn-danger" onclick="return confirm('Tem certeza de que deseja remover este item')">Remover</a>
        </div>

        <div class="col" style="margin-top: 35px">
            <div class="panel panel-primary">
                  <div class="panel-heading">Recluso - <span th:text="${oRecluso.nome}"></span></div>
                  <div class="panel-body">
				  				  

						<div clas="col" style="margin:10px 0">
							<img src="/dist/img/default-50x50.gif" style="width:128px;height: 128px;"/>
							<!--button th:data-user_image_id="${oUser.id}" class="btn btn-default" onclick="modelUser.openUserImagesModal(this.getAttribute('data-user_image_id'))" style="position: absolute;left: 101px;top: 133px;">
								<i class="fas fa-pencil-alt" alt="Alterar a foto do utilizador"></i>
							</button-->
						</div>
					
						
						<table class="table table-striped table-bordered">
							<tr>
								<th>Nome</th>
								<td th:text="${oRecluso.nome}">#</td>
							</tr>
							<tr>
								<th>Sexo</th>
								<td th:text="${oRecluso.sexo}">#</td>
							</tr>  
							<tr>
								<th>Nacionalidade</th>
								<td th:text="${oRecluso.nome}">#</td>
							</tr>
							<tr>
								<th>Data de criação</th>
								<td th:text="${oRecluso.dateCreated}">#</td>
							</tr>
							<tr>
								<th>Ultima atualização</th>
								<td th:text="${oRecluso.dateCreated}">#</td>
							</tr>
						</table>

                </div>
            </div>
        </div>

    </div>

</body>
</html>
