<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layouts/layout}">
<head>

    <!-- Recluso feature scripts -->
    <span layout:fragment="custumScripts">
        <script th:src="@{/js/ImageControllers.js}"></script>
        <script th:src="@{/js/ReclusoController.js}"></script>
    </span>

    <title>Recluso - fasfasd</title>
  
</head>

<body>

    <div class="col-xs-12 col-md-12" layout:fragment="content">

        <!-- TO BE USED TO GET PROFILES -->
        <input type="hidden" th:value="${oRecluso.id}" id="action_user_id" class="form-control" />

        <span th:replace="/views/recluso/_recluso_image.html:: ActionModal(${oRecluso})"></span>

        <div clas="col">
            <a th:href="@{|/reclusos|}" class="btn btn-default">Voltar</a>
            <a th:href="@{|/reclusos/update/${oRecluso.id}|}" class="btn btn-success">Atualizar</a>
            <a th:href="@{|/reclusos/delete/${oRecluso.id}|}" class="btn btn-danger" onclick="return confirm('Tem certeza de que deseja remover este Recluso')">Remover</a>
        </div>

        <div class="col" style="margin-top: 35px">
            <div class="panel panel-primary">
                  <div class="panel-heading">Recluso - <span th:text="${oRecluso.nome}"></span></div>
                  <div class="panel-body">
					  <div clas="col" align="center">
						  <a class="btn" th:href="@{|/reclusos/decisaoJudicial/${oRecluso.id}|}">
							  <i class="fas fa-balance-scale fa-2x"></i> Decisão Judicial</a>
						  <a class="btn" href="#">
							  <i class="fas fa-receipt fa-2x"></i> Titulo Judiciario</a>
						  <a class="btn" href="#">
						  <i class="fas fa-gavel fa-2x"></i> Mandado Libertação</a>
						  <a class="btn" th:href="@{|/reclusos/ocorencia/${oRecluso.id}|}">
							  <i class="fas fa-user-injured fa-2x"></i> Ocorrências</a>
						  <a class="btn" href="#">
							  <i class="fas fa-user-clock fa-2x"></i> Pena Prisão</a>
						  <a class="btn" th:href="@{|/reclusos/transfer/${oRecluso.id}|}">
							  <i class="fas fa-bus-alt fa-2x"></i> Transferência</a>
						  <a class="btn" href="#">
							  <i class="fas fa-address-card fa-2x"></i> Registro Criminal</a>
						  <a class="btn" href="#">
							  <i class="fas fa-hand-holding-usd fa-2x"></i>Valores Apreendidos</a>
						  <a class="btn" href="#">
							  <i class="fas fa-user-lock fa-2x"></i> Medida Segurança</a>
						  <a class="btn" href="#">
							  <i class="fas fa-medkit fa-2x"></i> Saude, Internamento</a>
						  <a class="btn" href="#">
							  <i class="fas fa-hands-helping fa-2x"></i></i>Serviços Voluntários</a>
						  <a class="btn" href="#">
							  <i class="fas fa-user-graduate fa-2x"></i></i>Formação</a>

                    <div clas="col">
                        <span th:if="${oRecluso.profileImage != null}">
                            <img th:src="@{/api/storage/images-details?id={id}(id=${oRecluso.profileImage.storageId})}" style="width:128px;height: 128px;"/>
                        </span>
                        <span th:unless="${oRecluso.profileImage != null}">
                            <div style="width:128px;height: 128px;background-color: #ccc">Foto</div>
                        </span>
                        <!--<button th:data-user_image_id="${oRecluso.id}" class="btn btn-default" onclick="modelRecluso.openReclusoImagesModal(this.getAttribute('data-user_image_id'))" style="position: absolute;left: 101px;top: 133px;">-->
                            <!--<i class="fas fa-pencil-alt" alt="Alterar a foto do perfil do recluso"></i>-->
                        <!--</button>-->
<!--                        <button th:data-user_image_id="${oRecluso.id}" class="btn btn-default" onclick="modelRecluso.openReclusoImagesModal(this.getAttribute('data-user_image_id'))" style="position: absolute;left: 101px;top: 133px;">-->
<!--                            <i class="fas fa-pencil-alt" alt="Alterar a foto do perfil do recluso"></i>-->
<!--                        </button>-->
                    </div>

                    <hr />

                    <table class="table table-striped table-bordered">
                        <tr>
                            <th colspan="2">
                                <h4>
                                    <strong>Informações do recluso</strong>
                                </h4>
                            </th>
                        </tr>
                        <tr>
                            <th>Nº Recluso</th>
                            <td th:text="${oRecluso.numRecluso}">#</td>
                        </tr>
                        <tr>
                            <th>Nome</th>
                            <td th:text="${oRecluso.nome}">#</td>
                        </tr>
                        <tr>
                            <th>Mais conhecido por</th>
                            <td th:text="${oRecluso.alcunha}">#</td>
                        </tr>
                        <tr>
                            <th>Tipo de Documento</th>
                            <td th:text="${oRecluso.tipoDocumento != null ? oRecluso.tipoDocumento.name : '' }">#</td>
                        </tr>
                        <tr>
                            <th>Nº Documento Identificação</th>
                            <td th:text="${oRecluso.numDocIdentificacao}">#</td>
                        </tr>
                        <tr>
                            <th>Sexo</th>
                            <td th:text="${oRecluso.sexo}">#</td>
                        </tr>
                        <tr>
                            <th>Estado civil</th>
                            <td th:text="${oRecluso.estadoCivil != null ? oRecluso.estadoCivil.name : '' }">#</td>
                        </tr>
                        <tr>
                            <th>Nacionalidade</th>
                            <td th:text="${oRecluso.nacionalidade != null ? oRecluso.nacionalidade.nome : ''}">#</td>
                        </tr>
                        <tr>
                            <th>Ilha</th>
                            <td th:text="${oRecluso.ilha != null ? oRecluso.ilha.nome : ''}">#</td>
                        </tr>

                        <tr>
                            <th>Residência</th>
                            <td th:text="${oRecluso.bairo}">#</td>
                        </tr>

                    </table>


                    <!-- Outras informações -->
                    <table class="table table-striped table-bordered">
                        <tr>
                            <th colspan="2">
                                <h4>
                                    <strong>Outras Informações</strong>
                                </h4>
                            </th>
                        </tr>

                        <tr>
                            <th>Profissão</th>
                            <td th:text="${oRecluso.profissao != null ? oRecluso.profissao.name : ''}">#</td>
                        </tr>

                        <tr>
                            <th>Nível de Escolaridade</th>
                            <td th:text="${oRecluso.nivelEscolaridade != null ? oRecluso.nivelEscolaridade.name : ''}">#</td>
                        </tr>

                        <tr>
                            <th>Data de criação</th>
                            <td th:text="${#dates.format(oRecluso.dateCreated, 'dd/MM/yyyy')}">#</td>
                        </tr>
                        <tr>
                            <th>Ultima atualização</th>
                            <td th:text="${#dates.format(oRecluso.dateUpdated, 'dd/MM/yyyy')}">#</td>
                        </tr>
                    </table>
                  </div>
            </div>
        </div>

    </div>
    </div>

</body>
</html>



