<span th:fragment="formUserProfile(oProfile, profileList)">

   <form action="#" th:object="${oProfile}" method="post">

        <div class="form-group">
           <label for="prfile_id">Profile</label>
           <select th:field="*{id}" id="prfile_id">
                <option th:each="profile : ${profileList}" th:value="${profile.id}" th:text="${profile.name}"class="form-control">
                </option>
            </select>
        </div>

        <div class="form-group">
             <button type="button" class="btn btn-primary" onclick="return alert('ok')">Adionar</button>
        </div>

    </form>

</span>
