<span th:fragment="formUserProfile(oUser, oProfile, profileList)">

   <form action="#" th:object="${oProfile}" method="post">

        <div class="w-50 float-left">
            <div class="form-group">
               <select th:field="*{id}" id="prfile_id" class="form-control">
                    <option th:each="profile : ${profileList}" th:value="${profile.id}" th:text="${profile.name}">
                    </option>
                </select>
            </div>
        </div>

        <!-- https://my.oschina.net/u/2312080/blog/2878183 -->
        <button class="btn btn-default" style="margin: 0 10px;">
            <span class="fas fa-plus-circle" th:data-user_id="${oUser.id}" onclick="modelUser.addUserProfile(this.getAttribute('data-user_id'))"></span>
        </button>


    </form>

</span>
