<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layouts/layout}">
<head>
    <title>Novo utilizador</title>
    
    <!-- User feature scripts -->
    <span layout:fragment="custumScripts">
        <script th:src="@{/js/UserController.js}"></script>
        <script th:src="@{/js/ImageControllers.js}"></script> 
    </span>

</head>

<div class="col-xs-12 col-md-12" layout:fragment="content">

    <div clas="col" style="margin: 10px 0">
        <a th:href="@{|/admin/users|}" class="btn btn-default">Voltar</a>
    </div>


    <div class="panel panel-primary">
      <div class="panel-heading">Novo utilizador</div>
          <div class="panel-body">
              <span th:replace="/views/user/_form:: formUser(objUser)"></span>
          </div>
      </div>
    </div>

</div>

</html>
