<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layouts/layout}">
<head>

	<title>Utilizadores</title>	
	  
    <!-- User feature scripts -->
    <span layout:fragment="custumScripts">
		<script th:src="@{/js/UserController.js}"></script>
		<script th:src="@{/js/ImageControllers.js}"></script> 
	</span>

</head>
<body>

<div class="col-xs-12 col-md-12" layout:fragment="content">

    <div clas="">
        <a href="/admin/users/create" class="btn btn-success">Novo utilizador</a>
    </div>
	
	

    <div clas="col" style="margin-top:20px">
	
		<div class="panel panel-primary">
		  <div class="panel-heading">Utilizadores</div>
			  <div class="panel-body">						  
				<table class="table table-striped table-bordered">
					<tr>
						<th>Nome</th>
						<th>Data criação</th>
						<th>Ultima atualização</th>
						<th>Ação</th>
					</tr>

					<div class="col">
						Total: <span th:text="${objPaging.totalElements}"></span>
						<!--img src="search3.png" alt="Buscar..."/-->
						<input type="text" id="txtPesquisar" placeholder="Pesquisar user..."/>
						<button id="btnPesquisar">Pesquisar</button>
					</div>

					<tr th:each="oUser : ${users}">
						<td th:text="${oUser.name}">#</td>
						<td th:text="${oUser.dateCreated}">#</td>
						<td th:text="${oUser.dateUpdated}">#</td>
						<td>
							<span th:replace="/fragments/ActionColumn:: actionView('/admin/users/view/' + ${oUser.id})"></span>
							<span th:replace="/fragments/ActionColumn:: actionUpdate('/admin/users/update/' + ${oUser.id})"></span>
							<span th:replace="/fragments/ActionColumn:: actionDelete('/admin/users/delete/' + ${oUser.id})"></span>
						</td>
					</tr>
				</table>
			</div>
		</div>

        <span th:replace="/fragments/pagingResult:: actionPaging(${objPaging}, '/admin/users')"></span>

    </div>

</div>

</body>
</html>
