<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layouts/layout}">
<head>
    <title><span th:text="${objUser.name}"></span> - Atualização</title>
</head>

<div class="col-xs-12 col-md-12" layout:fragment="content">

    <div clas="col" style="margin: 10px 0">
        <a th:href="@{|/users|}" class="btn btn-default">Voltar</a>
    </div>


    <h5><span th:text="${objUser.name}"></span> - Atualização </h5>

    <hr />

    <!-- user form -->
    <div clas="col">
        <span th:replace="/views/user/_form:: formUser(objUser)"></span>
    </div>

</div>


</html>
