<span th:fragment="formSetor(objSetor)">

   <form action="" th:object="${objSetor}" method="post">

        <div class="col-xs-12 col-md-6">
            <div class="form-group">
                <label for="name">Nome</label>
                <input type="text" th:field="*{nome}" id="name" class="form-control" required/>
                <span class="error" th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>
            </div>
        </div>

        <div class="col-xs-12 col-md-6">
            <div class="form-group">
                <label for="complexo">Complexo</label>
                <div class="form-group">
                   <select th:field="*{complexo}" id="complexo" class="form-control">
                        <option value="">-- Selecionar complexo --</option>
                        <option th:each="objComplexo : ${complexoList}" th:value="${objComplexo.id}" th:text="${objComplexo.nome}">
                    </select>
                </div>
            </div>
        </div>


        <div class="col-xs-12 col-md-12">
            <div class="form-group">
                 <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
        </div>

    </form>

</span>