
<span th:fragment="indexView(setores)">

    <table class="table table-striped table-bordered">
        <tr>
            <th>Nome</th>
            <th>Complexo</th>
            <th>Data criação</th>
            <th>Ultima atualização</th>
            <th>Ações</th>
        </tr>

        <tr th:each="oSetor : ${setores}">
            <td th:text="${oSetor.nome}">#</td>
            <td th:text="${oSetor.complexo != null ? oSetor.complexo.nome : '' }">#</td>
            <td th:text="${oSetor.dateCreated}">#</td>
            <td th:text="${oSetor.dateUpdated}">#</td>
            <td>
                <span th:replace="/fragments/ActionColumn:: actionView('/admin/setores/view/' + ${oSetor.id})"></span>
                <span th:replace="/fragments/ActionColumn:: actionUpdate('/admin/setores/update/' + ${oSetor.id})"></span>
                <span th:replace="/fragments/ActionColumn:: actionDelete('/admin/setores/delete/' + ${oSetor.id})"></span>
            </td>
        </tr>
    </table>

</span>