<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Setores</title>
</head>
<body>

<div class="col-xs-12 col-md-12" layout:fragment="content">

    <div clas="">
        <a href="/admin/setores/create" class="btn btn-success">Novo setores</a>
    </div>

    <div clas="col" style="margin-top:20px">

        <div class="panel panel-primary">
            <div class="panel-heading">Setores</div>
            <div class="panel-body">

                <div class="col">
                    Total: <!--span th:text="${objPaging.totalElements}"></span-->
                </div>

                <table class="table table-striped table-bordered">
                    <tr>
                        <th>Nome</th>
                        <th>Complexo</th>
                        <th>Data criação</th>
                        <th>Ultima atualização</th>
                        <th>Ações</th>
                    </tr>

                    <tr th:each="oSetor : ${complexos}">
                        <td th:text="${oSetor.nome}">#</td>
                        <td th:text="${oSetor.complexo != null ? oSetor.complexo.nome : '' }">#</td>
                        <td th:text="${oSetor.dateCreated}">#</td>
                        <td th:text="${oSetor.dateUpdated}">#</td>
                        <td>
                            <span th:replace="/fragments/ActionColumn:: actionView('/reclusos/view/' + ${oComplexo.id})"></span>
                            <span th:replace="/fragments/ActionColumn:: actionUpdate('/reclusos/update/' + ${oComplexo.id})"></span>
                            <span th:replace="/fragments/ActionColumn:: actionDelete('/reclusos/delete/' + ${oComplexo.id})"></span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <span th:replace="/fragments/pagingResult:: actionPaging(${objPaging}, '/admin/setores')"></span>

    </div>

</div>


</body>
</html>