<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layouts/layout}">
<head>

    <!-- Profile feature scripts -->
    <span layout:fragment="custumScripts">
        <!-- <script th:src="@{/js/ReclusoController.js}"></script> -->
    </span>

    <title>Setor</title>

</head>
<body>

<div class="col-xs-12 col-md-12" layout:fragment="content">

    <div clas="col">
        <a th:href="@{|/admin/setores|}" class="btn btn-default">Voltar</a>
        <a th:href="@{|/admin/setores/update/${oSetor.id}|}" class="btn btn-success">Atualizar</a>
        <a th:href="@{|/admin/setores/delete/${oSetor.id}|}" class="btn btn-danger" onclick="return confirm('Tem certeza de que deseja remover este item')">Remover</a>
    </div>

    <div clas="col" style="margin-top: 30px">

        <div class="panel panel-primary">
            <div class="panel-heading">Setor - <span th:text="${oSetor.nome}"></span></div>
            <div class="panel-body">

                <table class="table table-striped table-bordered">
                    <tr>
                        <th>Nome</th>
                        <td th:text="${oSetor.nome}">#</td>
                    </tr>
                    <tr>
                        <th>Complexo</th>
                        <td th:text="${oSetor.complexo != null ? oSetor.complexo.nome : '' }">#</td>
                    </tr>
                    <tr>
                        <th>Data de criação</th>
                        <td th:text="${#dates.format(oSetor.dateUpdated, 'dd/MM/yyyy')}">#</td>
                    </tr>
                    <tr>
                        <th>Ultima atualização</th>
                        <td th:text="${#dates.format(oSetor.dateUpdated, 'dd/MM/yyyy')}">#</td>
                    </tr>
                </table>

            </div>
        </div>

    </div>

</div>

</body>
</html>