<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layouts/layout}">
<head>
    <title>Cadeias</title>
</head>
<body>


<div class="col-xs-12 col-md-12" layout:fragment="content">

    <div clas="">
        <a href="/admin/cadeias/create" class="btn btn-success">Novo cadeia</a>
    </div>

    <div clas="col" style="margin-top:20px">

        <div class="panel panel-primary">
            <div class="panel-heading">Cadeias</div>
            <div class="panel-body">

                <div class="col">
                    Total: <span th:text="${objPaging.totalElements}"></span>
                    <!--img src="search3.png" alt="Buscar..."/-->
                    <input type="text" id="txtPesquisar" placeholder="Pesquisar cadeia..."/>
                    <button id="btnPesquisar">Pesquisar</button>
                </div>

                <table class="table table-striped table-bordered">
                    <tr>
                        <th>Nome</th>
                        <th>Ilha</th>
                        <th>Data criação</th>
                        <th>Ultima atualização</th>
                        <th>Ações</th>
                    </tr>

                    <tr th:each="oCadeia : ${cadeias}">
                        <td th:text="${oCadeia.nome}">#</td>
                        <td th:text="${oCadeia.ilha != null ? oCadeia.ilha.nome : '' }">#</td>
                        <td th:text="${oCadeia.dateCreated}">#</td>
                        <td th:text="${oCadeia.dateUpdated}">#</td>
                        <td>
                            <span th:replace="/fragments/ActionColumn:: actionView('/admin/cadeias/view/' + ${oCadeia.id})"></span>
                            <span th:replace="/fragments/ActionColumn:: actionUpdate('/admin/cadeias/update/' + ${oCadeia.id})"></span>
                            <span th:replace="/fragments/ActionColumn:: actionDelete('/admin/cadeias/delete/' + ${oCadeia.id})"></span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <span th:replace="/fragments/pagingResult:: actionPaging(${objPaging}, '/admin/cadeias')"></span>

    </div>

</div>



</body>

</html>
