<span th:fragment="IndexView(activitiesSet)">

     <table class="table table-striped table-responsive">

        <tr>
            <th>Name</th>
            <th>wfType</th>
            <th>className</th>
            <th>actionName</th>
            <!--th>Viewable?</th-->
            <!--th>System default</th-->
            <th>State color</th>
            <th>Actions</th>
        </tr>

        <tr th:each="oActivity : ${activitiesSet}">
            <td th:text="${oActivity.name}">[Não definido]</td>
            <td th:text="${oActivity.wfType}">[Não definido]</td>
            <td th:text="${oActivity.className}">[Não definido]</td>
            <td th:text="${oActivity.actionName}">[Não definido]</td>
            <!--td th:text="${oActivity.isViewable}">[Não definido]</td>
            <td th:text="${oActivity.systemDefault}">[Não definido]</td-->
            <td th:text="${oActivity.stateColor}">[Não definido]</td>
            <td>

                <span th:replace="/fragments/ActionColumn:: actionView('/workflow/activities/view/' + ${oActivity.id})"></span>

                <span th:replace="/fragments/ActionColumn:: actionUpdate('/workflow/activities/update/' + ${oActivity.id})"></span>

                <span th:replace="/fragments/ActionColumn:: actionDelete('/workflow/activities/disable/' + ${oActivity.id})"></span>

            </td>
        </tr>
    </table>

</span>