<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layouts/layout}">
    <head>
        <title>Documentos</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    </head>
    <body>

        <div class="col-xs-12 col-md-12" layout:fragment="content">

            <div clas="">
                <button th:data-document_id="xxx" class="btn btn-default" onclick="modelDocument.openDocumentModal()">
                    <i class="fas fa-file-upload" alt="Carregar documento"></i> Carregar documento
                </button>
            </div>

            <div clas="col" style="margin-top:20px">
                <div class="panel panel-primary">
                  <div class="panel-heading">Documentos</div>
                  <div class="panel-body">
                    <span th:replace="/views/document/_index_view:: indexView(${documents},${objPaging})"></span>
                  </div>
                </div>
            </div>

         </div>

    </body>
</html>





