

<div th:fragment="ActionView()">


  <html xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

      <header class="main-header">
        <!-- Logo -->
        <a href="/home" class="logo" style="background-color: #337ab7">
          <!-- mini logo for sidebar mini 50x50 pixels -->
          <span class="logo-mini"><img th:src="@{/img/logo_raw.jpg}" alt="Ministra da Justiça e Trabalho" style="width:100%;margin-top: -12px;"></span>
          <!-- logo for regular state and mobile devices -->
          <span class="logo-lg"><img th:src="@{/img/logo_raw.jpg}" alt="Ministra da Justiça e Trabalho" style="width:100%;margin-top: -12px;"></span>
        </a>

        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top">
          <!-- Sidebar toggle button-->
          <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">Toggle navigation</span>
          </a>
          <!-- Navbar Right Menu -->
          <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
              <!-- Messages: style can be found in dropdown.less-->
              <li class="dropdown messages-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-envelope-o"></i>
                  <span class="label label-success">4</span>
                </a>
                <ul class="dropdown-menu">
                  <li class="header">Você tem 4 mensagens</li>
                  <li>
                    <!-- inner menu: contains the actual data -->
                    <ul class="menu">
                      <li>
                        <a href="#">
                          <div class="pull-left">
                            <img th:src="@{/img/logo.png}" class="img-circle" alt="User Image">
                          </div>
                          <h4>
                            Desenvolvedores
                            <small><i class="fa fa-clock-o"></i> Hoje</small>
                          </h4>
                          <p>Por que não comprar um novo tema incrível?</p>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="pull-left">
                            <img th:src="@{/img/logo.png}" class="img-circle" alt="User Image">
                          </div>
                          <h4>
                            Departamento de vendas
                            <small><i class="fa fa-clock-o"></i>
                              Ontem</small>
                          </h4>
                          <p>
                            Por que não comprar um novo tema incrível?</p>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="pull-left">
                            <img th:src="@{/img/logo.png}" class="img-circle" alt="User Image">
                          </div>
                          <h4>
                            Revisores
                            <small><i class="fa fa-clock-o"></i> 2
                              dias</small>
                          </h4>
                          <p>Por que não comprar um novo tema incrível?</p>
                        </a>
                      </li>
                    </ul>
                  </li>
                  <li class="footer"><a href="#">Ver todas as mensagens</a></li>
                </ul>
              </li>
              <!-- Notifications: style can be found in dropdown.less -->
              <li class="dropdown notifications-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-bell-o"></i>
                  <span class="label label-warning">10</span>
                </a>
                <ul class="dropdown-menu">
                  <li class="header">Você tem 10 notificações</li>
                  <li>
                    <!-- inner menu: contains the actual data -->
                    <ul class="menu">
                      <li>
                        <a href="#">
                          <i class="fa fa-users text-aqua"></i> 5 novos membros se juntaram hoje
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <i class="fa fa-warning text-yellow"></i>
                          Muito longa descrição aqui que pode não caber no
                          página e pode causar problemas de design
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <i class="fa fa-users text-red"></i>
                          5 novos membros juntaram-se
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <i class="fa fa-shopping-cart text-green"></i> 25 vendas feitas
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <i class="fa fa-user text-red"></i> Você mudou seu nome de usuário
                        </a>
                      </li>
                    </ul>
                  </li>
                  <li class="footer"><a href="#">
                    Ver tudo</a></li>
                </ul>
              </li>
              <!-- Tasks: style can be found in dropdown.less -->
              <li class="dropdown tasks-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-flag-o"></i>
                  <span class="label label-danger">10</span>
                </a>
                <ul class="dropdown-menu">
                  <li class="header">Você tem 10 tarefas</li>
                  <li>
                    <!-- inner menu: contains the actual data -->
                    <ul class="menu">
                      <li><!-- Task item -->
                        <a href="#">
                          <h3>

                            Projetar alguns botões
                            <small class="pull-right">20%</small>
                          </h3>
                          <div class="progress xs">
                            <div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar"
                                 aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                              <span class="sr-only">20% Completo</span>
                            </div>
                          </div>
                        </a>
                      </li>
                      <!-- end task item -->
                      <li><!-- Task item -->
                        <a href="#">
                          <h3>
                            Crie um tema legal
                            <small class="pull-right">40%</small>
                          </h3>
                          <div class="progress xs">
                            <div class="progress-bar progress-bar-green" style="width: 40%" role="progressbar"
                                 aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                              <span class="sr-only">40% Completo</span>
                            </div>
                          </div>
                        </a>
                      </li>
                      <!-- end task item -->
                      <li><!-- Task item -->
                        <a href="#">
                          <h3>

                            Alguma tarefa que preciso fazer
                            <small class="pull-right">60%</small>
                          </h3>
                          <div class="progress xs">
                            <div class="progress-bar progress-bar-red" style="width: 60%" role="progressbar"
                                 aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                              <span class="sr-only">60% Completo</span>
                            </div>
                          </div>
                        </a>
                      </li>
                      <!-- end task item -->
                      <li><!-- Task item -->
                        <a href="#">
                          <h3> Faça belas transições
                            <small class="pull-right">80%</small>
                          </h3>
                          <div class="progress xs">
                            <div class="progress-bar progress-bar-yellow" style="width: 80%" role="progressbar"
                                 aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                              <span class="sr-only">80% Completo</span>
                            </div>
                          </div>
                        </a>
                      </li>
                      <!-- end task item -->
                    </ul>
                  </li>
                  <li class="footer">
                    <a href="#">
                      Visualizar todas as tarefas</a>
                  </li>
                </ul>
              </li>
              <!-- User Account: style can be found in dropdown.less -->
              <li class="dropdown user user-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <!--<span sec:authorize="isAuthenticated()">-->
                    <!--<span sec:authentication="name"></span>-->
                  <!--</span>-->
                  <img th:src="@{/dist/img/logo.png}" class="user-image" alt="User Image">
                  <span sec:authorize="isAuthenticated()">
                      <span class="hidden-xs">
                        [[${#httpServletRequest.remoteUser}]]
                      </span>
                  </span>
                  <span class="hidden-xs">Administrador</span>
                </a>
                <ul class="dropdown-menu">
                  <!-- User image -->
                  <li class="user-header">
                    <img th:src="@{/dist/img/logo.png}" class="user-image" alt="User Image">

                    <p>
                      [[${#httpServletRequest.remoteUser}]]
                        Administrador
                      <small></small>
                    </p>
                  </li>

                  <!-- Menu Footer-->
                  <li class="user-footer">
                    <div class="pull-left">
                      <span sec:authorize="isAuthenticated()">
                        <!--<a th:href="${#authentication.getPrincipal().getName()}">ss</a>-->
                        <!--<a href="/users/view/${authentication.name}" class="btn btn-default btn-flat">Conta</a>-->
                      </span>
                    </div>
                    <div class="pull-right">
                      IS ADMIN: <span th:text="${#httpServletRequest.userPrincipal.getAuthorities()[0].getAuthority() == 'ROLE_admin' ? 'YES' : 'NO'}"></span> |
                      IS TESTE<span th:text="${T(com.app.helpers.Helper).isAdmin(#httpServletRequest.userPrincipal.getAuthorities())}"></span>
                      IS ADMIN1: <span th:text="${#httpServletRequest.userPrincipal.getAuthorities()[0].getAuthority() == 'ROLE_admin' ? 'YES' : 'NO'}"></span> |

                      <span sec:authorize="isAuthenticated()">
                      <span sec:authentication="name"></span>
                      </span>

                      <br />

                      <span sec:authorize="isAuthenticated()">
                        <a class="btn btn-default btn-flat" href="/logout">Terminar seção</a>
                      </span>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
          </div>

        </nav>
      </header>

 </div>