
<span th:fragment="indexView(celas)">

    <table class="table table-striped table-bordered">
        <tr>
            <th>Nome</th>
            <th>Ala</th>
            <th>Data criação</th>
            <th>Ultima atualização</th>
            <th>Ações</th>
        </tr>

        <tr th:each="oCela : ${celas}">
            <td th:text="${oCela.nome}">#</td>
            <td th:text="${oCela.cela != null ? oCela.cela.nome : '' }">#</td>
            <td th:text="${oCela.dateCreated}">#</td>
            <td th:text="${oCela.dateUpdated}">#</td>
            <td>
                <span th:replace="/fragments/ActionColumn:: actionView('/admin/celas/view/' + ${oCela.id})"></span>
                <span th:replace="/fragments/ActionColumn:: actionUpdate('/admin/celas/update/' + ${oCela.id})"></span>
                <span th:replace="/fragments/ActionColumn:: actionDelete('/admin/celas/delete/' + ${oCela.id})"></span>
            </td>
        </tr>
    </table>

</span>