
<span th:fragment="indexView(complexos)">

    <table class="table table-striped table-bordered">
        <tr>
            <th>Nome</th>
            <th>Cadeia</th>
            <th>Data criação</th>
            <th>Ultima atualização</th>
            <th>Ações</th>
        </tr>

        <tr th:each="oComplexo : ${complexos}">
            <td th:text="${oComplexo.nome}">#</td>
            <td th:text="${oComplexo.cadeia != null ? oComplexo.cadeia.nome : '' }">#</td>
            <td th:text="${oComplexo.dateCreated}">#</td>
            <td th:text="${oComplexo.dateUpdated}">#</td>
            <td>
                <span th:replace="/fragments/ActionColumn:: actionView('/admin/complexos/view/' + ${oComplexo.id})"></span>
                <span th:replace="/fragments/ActionColumn:: actionUpdate('/admin/complexos/update/' + ${oComplexo.id})"></span>
                <span th:replace="/fragments/ActionColumn:: actionDelete('/admin/complexos/delete/' + ${oComplexo.id})"></span>
            </td>
        </tr>
    </table>

</span>