<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layouts/layout}">
<head>

    <!-- Profile feature scripts -->
    <span layout:fragment="custumScripts">
        <!-- <script th:src="@{/js/ReclusoController.js}"></script> -->
    </span>

    <title>Complexo</title>

</head>
<body>

<div class="col-xs-12 col-md-12" layout:fragment="content">

    <div clas="col">
        <a th:href="@{|/admin/complexos|}" class="btn btn-default">Voltar</a>
        <a th:href="@{|/admin/complexos/update/${oComplexo.id}|}" class="btn btn-success">Atualizar</a>
        <a th:href="@{|/admin/complexos/delete/${oComplexo.id}|}" class="btn btn-danger" onclick="return confirm('Tem certeza de que deseja remover este item')">Remover</a>
    </div>

    <div clas="col" style="margin-top: 30px">

        <div class="panel panel-primary">
            <div class="panel-heading">Complexo - <span th:text="${oComplexo.nome}"></span></div>
            <div class="panel-body">

                <table class="table table-striped table-bordered">
                    <tr>
                        <th>Nome</th>
                        <td th:text="${oComplexo.nome}">#</td>
                    </tr>
                    <tr>
                        <th>Cadeia</th>
                        <td th:text="${oComplexo.cadeia != null ? oComplexo.cadeia.nome : '' }">#</td>
                    </tr>
                    <tr>
                        <th>Data de criação</th>
                        <td th:text="${#dates.format(oComplexo.dateUpdated, 'dd/MM/yyyy')}">#</td>
                    </tr>
                    <tr>
                        <th>Ultima atualização</th>
                        <td th:text="${#dates.format(oComplexo.dateUpdated, 'dd/MM/yyyy')}">#</td>
                    </tr>
                </table>

            </div>
        </div>

    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">Setor</div>
        <div class="panel-body">
            <span th:replace="/views/setor/_index_view:: indexView(${setoresList})"></span>
        </div>
    </div>

</div>

</body>
</html>