

body{
    background-color: #f5f5f5 !important;
}

.error{
    color: #dd4b39;
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
}



<!-- input files css -->

input[type="file"] {
    display: block;
}
input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.upload-files-field {
    position: relative;
    cursor: pointer;
    width: auto;
    max-width: 300px;
    height: 35px;
    line-height: 25px;
    padding: 5px 10px;
    border: 1px solid #17a2b8;
    border-radius: 5px;
}


.md-image-card{
    float: left;
    margin: 7px;
    border: 1px solid #17a2b8;
    float: left;
    padding: 6px;
    border-radius: 4px;
    cursor: pointer;
}

.documents-widget-list, .image-widget-list{
    margin: 10px 0;
    color: #17a2b8;
}

.main-sidebar {
    /* position: fixed !important; */
    background: #3d3d3d !important;
    width: 270px !important;
}
.main-sidebar {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 50px;
    min-height: 100%;
    width: 230px;
    z-index: 810;
    -webkit-transition: -webkit-transform .3s ease-in-out,width .3s ease-in-out;
    -moz-transition: -moz-transform .3s ease-in-out,width .3s ease-in-out;
    -o-transition: -o-transform .3s ease-in-out,width .3s ease-in-out;
    transition: transform .3s ease-in-out,width .3s ease-in-out;
}

.skin-blue .main-header .navbar{
    background-color: #337ab7 !important;
}


<!-- TASKS -->
.box-notification{
    background-color: #ffffff;
    #border-radius: 1px;
    /* box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24); */
    margin-bottom: 10px;
}

.box-notification div {
    font-size: 12px;
    color: #000000;
}
.rpend {
    border: none;
    border-bottom: 1px solid #a60000;
}



<!-- modal -->
.modal-content{
    float: left;
    width: 100%;
    overflow: auto;
}

 .loader {
     border: 6px solid #f3f3f3;
     border-radius: 50%;
     border-top: 6px solid #3498db;
     width: 60px;
     height: 60px;
     -webkit-animation: spin 2s linear infinite;
     /* Safari */
     animation: spin 2s linear infinite;
 }

.cor {
    background-color: #2d2d2d;
}

.color {
    background-color: #000000;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

